In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/msleep.csv')
df

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
...,...,...,...,...,...,...,...,...,...,...,...
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.00250,0.104
79,Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.8,NaN,173.330
80,Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.7,0.01750,2.000
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.04450,3.380
82,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.350000,14.2,0.05040,4.230

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          83 non-null     object
 1   genus         83 non-null     object
 2   vore          76 non-null     object
 3   order         83 non-null     object
 4   conservation  54 non-null     object
 5   sleep_total   83 non-null     float64
 6   sleep_rem     61 non-null     float64
 7   sleep_cycle   32 non-null     float64
 8   awake         83 non-null     float64
 9   brainwt       56 non-null     float64
 10  bodywt        83 non-null     float64
dtypes: float64(6), object(5)
memory usage: 7.3+ KB

### check NA in 'vore' column

In [6]:
df[df.vore.isna()]

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
7,Vesper mouse,Calomys,NaN,Rodentia,NaN,7.0,NaN,NaN,17.0,NaN,0.045
54,Desert hedgehog,Paraechinus,NaN,Erinaceomorpha,lc,10.3,2.7,NaN,13.7,0.00240,0.550
56,Deer mouse,Peromyscus,NaN,Rodentia,NaN,11.5,NaN,NaN,12.5,NaN,0.021
57,Phalanger,Phalanger,NaN,Diprotodontia,NaN,13.7,1.8,NaN,10.3,0.01140,1.620
62,Rock hyrax,Procavia,NaN,Hyracoidea,lc,5.4,0.5,NaN,18.6,0.02100,3.600
68,Mole rat,Spalax,NaN,Rodentia,NaN,10.6,2.4,NaN,13.4,0.00300,0.122
72,Musk shrew,Suncus,NaN,Soricomorpha,NaN,12.8,2.0,0.183333,11.2,0.00033,0.048

In [7]:
df.dropna(subset=['vore'], axis='index', inplace=True)
df

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
...,...,...,...,...,...,...,...,...,...,...,...
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.00250,0.104
79,Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.8,NaN,173.330
80,Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.7,0.01750,2.000
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.04450,3.380
82,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.350000,14.2,0.05040,4.230

## create dummy variables

In [8]:
dummies=pd.get_dummies(df['vore'])
dummies

    carni  herbi  insecti  omni
0       1      0        0     0
1       0      0        0     1
2       0      1        0     0
3       0      0        0     1
4       0      1        0     0
..    ...    ...      ...   ...
78      0      0        0     1
79      1      0        0     0
80      1      0        0     0
81      1      0        0     0
82      1      0        0     0

[76 rows x 4 columns]

In [9]:
dm=pd.concat([df, dummies], axis='columns')
dm

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt,carni,herbi,insecti,omni
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000,1,0,0,0
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480,0,0,0,1
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350,0,1,0,0
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019,0,0,0,1
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.00250,0.104,0,0,0,1
79,Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.8,NaN,173.330,1,0,0,0
80,Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.7,0.01750,2.000,1,0,0,0
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.04450,3.380,1,0,0,0
82,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.350000,14.2,0.05040,4.230,1,0,0,0

## sklearn: LinearRegression

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
model = LinearRegression()
dt=dm[['vore', 'bodywt', 'carni', 'herbi', 'omni', 'insecti', 'sleep_total']].dropna(axis='index')
X=dt[['bodywt', 'insecti', 'herbi', 'omni']]

In [12]:
model.fit(X, dt.sleep_total)

LinearRegression()

In [13]:
model.score(X, dt.sleep_total) # R-squared

0.16713760369976094

In [14]:
model.coef_

array([-1.62680477e-03,  4.43443922e+00, -4.20369040e-01,  4.19108004e-01])

In [15]:
X

     bodywt  insecti  herbi  omni
0    50.000        0      0     0
1     0.480        0      0     1
2     1.350        0      1     0
3     0.019        0      0     1
4   600.000        0      1     0
..      ...      ...    ...   ...
78    0.104        0      0     1
79  173.330        0      0     0
80    2.000        0      0     0
81    3.380        0      0     0
82    4.230        0      0     0

[76 rows x 4 columns]

## Statsmodels: Linear regression

In [16]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [17]:
dt.columns

Index(['vore', 'bodywt', 'carni', 'herbi', 'omni', 'insecti', 'sleep_total'], dtype='object')

In [18]:
# formula: response ~ predictor + predictor
model_a = smf.ols(formula='sleep_total ~ bodywt + insecti + herbi + omni', data=dt).fit()

In [19]:
print(model_a.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            sleep_total   R-squared:                       0.167
Model:                            OLS   Adj. R-squared:                  0.120
Method:                 Least Squares   F-statistic:                     3.562
Date:                Fri, 01 Jan 2021   Prob (F-statistic):             0.0105
Time:                        14:31:01   Log-Likelihood:                -215.94
No. Observations:                  76   AIC:                             441.9
Df Residuals:                      71   BIC:                             453.5
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     10.5266      0.986     10.677      0.000       8.561      12.492
bodywt        -0.0016      0.001     -2.643      0.010      -0.003      -0.000
insecti        4.4344      2.157      2.056      0.043       0.133       8.736
herbi         -0.4204      1.254     -0.335      0.738      -2.921       2.081
omni           0.4191      1.375      0.305      0.761      -2.323       3.162
==============================================================================
Omnibus:                       10.538   Durbin-Watson:                   1.735
Prob(Omnibus):                  0.005   Jarque-Bera (JB):                3.310
Skew:                          -0.004   Prob(JB):                        0.191
Kurtosis:                       1.978   Cond. No.                     4.10e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.1e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [23]:
model_a.pvalues

Intercept    2.051710e-16
bodywt       1.010685e-02
insecti      4.349131e-02
herbi        7.384985e-01
omni         7.614768e-01
dtype: float64

### use C() in Statsmodels to create dummy variables internally

In [20]:
# model_a = smf.ols(formula='sleep_total ~ bodywt + insecti + herbi + omni', data=dt).fit()
model_b = smf.ols(formula='sleep_total ~ bodywt + C(vore)', data=dt).fit()

In [21]:
print(model_b.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            sleep_total   R-squared:                       0.167
Model:                            OLS   Adj. R-squared:                  0.120
Method:                 Least Squares   F-statistic:                     3.562
Date:                Fri, 01 Jan 2021   Prob (F-statistic):             0.0105
Time:                        14:33:48   Log-Likelihood:                -215.94
No. Observations:                  76   AIC:                             441.9
Df Residuals:                      71   BIC:                             453.5
Df Model:                           4
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             10.5266      0.986     10.677      0.000       8.561      12.492
C(vore)[T.herbi]      -0.4204      1.254     -0.335      0.738      -2.921       2.081
C(vore)[T.insecti]     4.4344      2.157      2.056      0.043       0.133       8.736
C(vore)[T.omni]        0.4191      1.375      0.305      0.761      -2.323       3.162
bodywt                -0.0016      0.001     -2.643      0.010      -0.003      -0.000
==============================================================================
Omnibus:                       10.538   Durbin-Watson:                   1.735
Prob(Omnibus):                  0.005   Jarque-Bera (JB):                3.310
Skew:                          -0.004   Prob(JB):                        0.191
Kurtosis:                       1.978   Cond. No.                     4.10e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.1e+03. This might indicate that there are
strong multicollinearity or other numerical problems.